.faq_text_header {
    font-family: "open sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #f2707c !important;
  }

.faq_text_ans{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: rgba(0, 0, 0, 0.87);
  }