$footerTitleFontOpenSans: "open sans";
$footerFontRoboto: roboto;
$fontStyle: normal;
$fontColor: white;

.font_open_sans {
  font-family: $footerTitleFontOpenSans;
  font-style: $fontStyle;
}

.font_robota {
  font-family: $footerFontRoboto;
  font-style: $fontStyle;
}

.navigation_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $fontColor;
}

.footer_header_text {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: $fontColor;
}

.footer_description_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $fontColor;
}

.get_started_footer {
  background-color: #8e7cb5;
  border-radius: 30px;
  padding: 10px 40px;
  color: $fontColor;
  font-size: 20px;
  border: none;
}


@media (max-width: 760px) and (min-width: 280px) {
  .get_started_footer{
    font-size: 15px;
  }
  .footer_header_text{
    font-size: 28px;
  }
  .footer_description_text{
    font-size: 15px;
  }
 }
 